.map-header {
  margin-top: -1.75rem
}

.page-header{
  margin-top: 0px;
}

.nav {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
  li{
    a {
      display: block;
      padding: 1rem 1rem;
      cursor: pointer;
      font-family: inherit;
      font-weight: 600;
      line-height: 1.1;
      color: inherit;
    }
  }
  li.active{
    a {
      color: #000;
    }
  }
}