<div class="header py-1">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" [routerLink]="['/']">
        <img src="assets\images\logo.svg" class="header-brand-img" alt="tabler logo">
        <!--<img src="assets/images/brand/tabler.svg" class="header-brand-img" alt="tabler logo">-->
      </a>
      <div class="d-flex order-lg-2 ml-auto">


        <div class="dropdown">
          <a  class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url(assets/faces/female/25.jpg)">{{user.firstName?.charAt(0) | titlecase}}{{user.lastName?.charAt(0) | titlecase}}</span>
            <span class="ml-2 d-none d-lg-inline-block">
              <span class="text-default">{{user.firstName | titlecase}} {{user.lastName | titlecase}}</span>
              <small class="text-muted d-block mt-1">{{user.email | lowercase}}</small>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" >
              <i class="dropdown-icon fe fe-user"></i> Profile
            </a>
            <a class="dropdown-item" >
              <i class="dropdown-icon fe fe-settings"></i> Settings
            </a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" (click)="logout()">
              <i class="dropdown-icon fe fe-log-out"></i> Sign out
            </a>
          </div>
        </div>
      </div>
      <a  class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
<div class="header collapse d-lg-flex p-0" *ngIf="user.isAdmin == true" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <a  [routerLink]="['/outlet']" class="nav-link {{ page == 'outlet' ? 'active' : '' }}"><i class="fe fe-home"></i> Outlets</a>
          </li>
          <li class="nav-item">
            <a  [routerLink]="['/map']" class="nav-link {{ page == 'map' ? 'active' : '' }}"><i class="fe fe-map"></i> Map</a>
          </li>
          <li class="nav-item">
            <a  [routerLink]="['/classification']" class="nav-link {{ page == 'classification' ? 'active' : '' }}"><i class="fe fe-image"></i> Classification</a>
          </li>
          <li class="nav-item">
            <a  [routerLink]="['/products']" class="nav-link {{ page == 'product' ? 'active' : '' }}"><i class="fe fe-box"></i> Products</a>
          </li>
          <li class="nav-item">
            <a  [routerLink]="['/project']" class="nav-link {{ page == 'project' ? 'active' : '' }}"><i class="fe fe-grid"></i> Project</a>
          </li>
          <li class="nav-item">
            <a  [routerLink]="['/client']" class="nav-link {{ page == 'client' ? 'active' : '' }}"><i class="fe fe-users"></i> Clients</a>
          </li>
          <li class="nav-item">
            <a  [routerLink]="['/brand']" class="nav-link {{ page == 'brand' ? 'active' : '' }}"><i class="fe fe-tag"></i> Brands</a>
          </li>
          <li class="nav-item">
            <a  [routerLink]="['/users']" class="nav-link {{ page == 'user' ? 'active' : '' }}"><i class="fe fe-user"></i> Users</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
