.contact-wrapper{
  .contact-card {
    border: 1px solid #ccc;
    background-color: rgba($color: #000000, $alpha: 0.02);
    margin-bottom: 10px;
    border-radius: 6px;
    .contact-card-header{
      padding: 10px;
      border-bottom: 1px solid #ccc;
      position: relative;
      .form-label {

      }
      .remove-person-button{
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
    .contact-card-body{
      padding: 10px;
    }
  }
}

.products{
  padding: 0px;
  margin: 0px;
  li{
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: 1px solid #ddd;
    list-style: none;
    display: block;
    background: rgba($color: #000000, $alpha: 0.02);
    .header{
      padding: 20px;
    }
    .body{
      display: none;
      padding: 20px
    }
  }
  li.active{
    background: #fff;
    .header{
      border-bottom: 1px solic #ddd;
    }
    .body{
      display: block;
    }
  }
  li:first-child{
    border-top: 1px solid #ddd;
    border-radius: 10px 10px 0px 0px;
    .header{
      border-radius: 10px 10px 0px 0px;
    }
  }
  li:last-child{
    border-radius: 0px 0px 10px 10px;
    .header{
      border-radius: 0px 0px 10px 10px;
    }
  }
}

